<html><body><p>This is the templates main.html sample</p>
<p>This sample code is available at
<a href="https://github.com/csev/dj4e-samples" target="_blank">
https://github.com/csev/dj4e-samples</a>
</p>
<p>
<ul>
    <li>This is coming from a file in templates/templates/main_templates.html</li>
    <li>Try <a href="simple">A simple template</a></li>
    <li>Try <a href="guess">A template with a substitution</a></li>
    <li>Try <a href="special">Escaping special characters</a></li>
    <li>Try <a href="loop">A template with a loop</a></li>
    <li>Try <a href="cond">A template with a conditional</a></li>
    <li>Try <a href="nested">Looking at objects in templates</a></li>
    <li>Try <a href="game/200">A game in a template</a>
        (try various values including non-numeric)</li>
    <li>Try <a href="game2/200">A game in a template with inheritance</a></li>
</ul>
</p>
</body></html>
