<html>
<head>
    <title>{{ settings.APP_NAME }}</title>
    <!-- edit samples/settings.py and add APP_NAME='DJ4E Samples' or similar
        Also make sure that home/context_processors.py exists and is included
        settings.py context processors as 'home.context_processors.settings' -->
</head>
<body>
    <h1>Welcome to the DJ4E Samples</h1>
    <p>
    Here are some samples (Each will open in a new tab):
    <ul>
        <li><a href="hello" target="_blank">hello</a> - A very simple view
          (<a href="https://www.youtube.com/watch?v=5EUO_QK8lB4&list=PLlRFEj9H3Oj5e-EH0t3kXrcdygrL9-u-Z&index=59" target="_blank">Walkthrough</a>)
        </li>
        <li><b>users</b> - One table model / SQL - uses the django shell
            and <a href="admin" target="_blank">admin</a></li>
        <li><b>tracks</b> -  Many to one models / SQL - uses the django shell 
            and <a href="admin" target="_blank">admin</a></li>
        <li><b>many</b> -  Many to many models - Loading data from a script
            and <a href="admin" target="_blank">admin</a>
            (<a href="https://www.dj4e.com/assn/dj4e_load.md" target="_blank">Assignment</a>)
        </li>
<p>You can <a href="/accounts/login">Login</a> if you like.</p>
        <li><a href="site" target="_blank">site</a> - An example folder with HTML content</li>
        <li><a href="views" target="_blank">views</a> - Looking at function and class views</li>
        <li><a href="tmpl" target="_blank">tmpl</a> - Using templates in views
         (<a href="https://docs.djangoproject.com/en/4.2/ref/templates/language/"
             target="_blank">Documentation</a>)
        </li>
        <li><a href="route" target="_blank">route</a> - Using routes, namespaces, and reverse in urls.py
         (<a href="https://docs.djangoproject.com/en/4.2/topics/http/urls/#reverse-resolution-of-urls"
             target="_blank">Documentation</a>)
        </li>
        <li><a href="gview" target="_blank">gview</a> - Understanding how the generic views work
        (<a href="admin" target="_blank">admin</a>)</li>
        <li><a href="session" target="_blank">session</a> - Cookies and sessions
            (<a href="https://www.dj4e.com/assn/dj4e_sessions.md" target="_blank">Assignment</a>)
        </li>
        <li><a href="authz" target="_blank">authz</a> - Using Django login
        </li>
        <li><a href="getpost" target="_blank">getpost</a> - Exploring HTTP get / post / redirect and HTML forms</li>
        <li><a href="form" target="_blank">form</a> - Using the Django forms library
        </li>
        <li><a href="autos" target="_blank">autos</a> - Autos CRUD
            (<a href="https://www.dj4e.com/assn/dj4e_autos.md" target="_blank">Assignment</a>,
            <a href="https://www.youtube.com/watch?v=3kHgAE-MidA&list=PLlRFEj9H3Oj5e-EH0t3kXrcdygrL9-u-Z&index=58" target="_blank">Walkthrough</a>)
        </li>
        <li><a href="crispy" target="_blank">crispy</a> - Using Crispy forms and messages libraries
            (<a href="https://django-crispy-forms.readthedocs.io/en/latest/install.html" target="_blank">Installation</a>,
            <a href="https://django-crispy-forms.readthedocs.io/en/latest/filters.html" target="_blank">Crispy Filter</a>,
            <a href="https://www.youtube.com/watch?v=kQORvrIzsZs&list=PLlRFEj9H3Oj5e-EH0t3kXrcdygrL9-u-Z&index=67" target="_blank">Walkthrough</a>)
        </li>
        <li><a href="myarts" target="_blank">myarts</a> - Owning rows in a model
            (<a href="https://www.youtube.com/watch?v=iHvJZ_lvXB4&list=PLlRFEj9H3Oj5e-EH0t3kXrcdygrL9-u-Z&index=65" target="_blank">Walkthrough</a>)
        </li>
        <li><a href="menu" target="_blank">menu</a> - Making a bootstrap nav bar
            (<a href="https://getbootstrap.com/docs/5.0/components/navbar/" target="_blank">Bootstrap Navbar</a>,
            <a href="https://www.youtube.com/watch?v=nuz_zXWoCo8&list=PLlRFEj9H3Oj5e-EH0t3kXrcdygrL9-u-Z&index=66" target="_blank">Walkthrough</a>)
        </li>
        <li><a href="pics" target="_blank">pics</a> - Storing small images in the database
            (<a href="https://www.youtube.com/watch?v=tanl9CthvHE&list=PLlRFEj9H3Oj5e-EH0t3kXrcdygrL9-u-Z&index=80" target="_blank">Walkthrough</a>)
        </li>
        <li><a href="forums" target="_blank">forums</a> - Many to many comment example
            (<a href="https://www.youtube.com/watch?v=mgcj3V56X-A&list=PLlRFEj9H3Oj5e-EH0t3kXrcdygrL9-u-Z&index=81" target="_blank">Walkthrough</a>)
        </li>
        <li><a href="fetch" target="_blank">fetch</a> - JSON and Fetch
            (<a href="https://www.youtube.com/watch?v=KcgPJYil5Do&list=PLlRFEj9H3Oj5e-EH0t3kXrcdygrL9-u-Z&index=88" target="_blank">Walkthrough</a>)
        </li>
        <li><a href="chat" target="_blank">chat</a> - JSON and Chat
            (<a href="https://www.youtube.com/watch?v=v5CKyLS701M&list=PLlRFEj9H3Oj5e-EH0t3kXrcdygrL9-u-Z&index=90" target="_blank">Walkthrough</a>)
        </li>
        <li>Add a <a href="/favicon.ico" target="_blank">favicon</a> 
            in <b>samples/urls.py</b> and <b>home/static</b>
            (<a href="https://favicon.io/favicon-converter/" target="_blank">Make your own</a>,
            <a href="https://www.youtube.com/watch?v=C1WGD5hFdT8&list=PLlRFEj9H3Oj5e-EH0t3kXrcdygrL9-u-Z&index=91" target="_blank">Walkthrough</a>)
        </li>
        <li><a href="https://python-social-auth.readthedocs.io/en/latest/configuration/django.html"
            target="_blank">Django Social Login Documentation</a>
            (<a href="https://www.youtube.com/watch?v=NctpQ-2Kdtw&list=PLlRFEj9H3Oj5e-EH0t3kXrcdygrL9-u-Z&index=92" target="_blank">Walkthrough</a>)
        </li>
        <li><a href="favs" target="_blank">favs</a> - A few of my favorite / favourite things
            (<a href="https://www.youtube.com/watch?v=6cq-ehBHkwc&list=PLlRFEj9H3Oj5e-EH0t3kXrcdygrL9-u-Z&index=93" target="_blank">Walkthrough</a>)
        </li>
        <!-- "well" is a play on "medium-well" and also a reference the the early bay-area BBS system -->
        <li><a href="well" target="_blank">well</a> - A multi-user blogging system
            (<a href="https://www.youtube.com/watch?v=4pOExZHnL9k&list=PLlRFEj9H3Oj5e-EH0t3kXrcdygrL9-u-Z&index=94" target="_blank">Walkthrough</a>)
        </li>
        <li><a href="tagme" target="_blank">tagme</a> - Using the Django 
            <a href="https://django-taggit.readthedocs.io/en/stable/" target="_blank">Taggit</a> library
        </li>
        <!--  Not quite right
        <li><a href="favsql" target="_blank">favsql</a> - An advanced version of favs using SQL directly</li>
        -->
        <li><a href="rest" target="_blank">rest</a> - Using the Django rest framework
            (<a href="https://www.django-rest-framework.org/" target="_blank">Django Rest Framework Documentation</a>)
        </li>
    </ul>
<p>
{% if user.is_authenticated %}
<p>Authenticated as
<pre>
Name: {{ user.get_full_name }}
Email: {{ user.email }}
Id: {{ user.id }}
<!-- https://stackoverflow.com/questions/26879011/check-if-current-user-is-logged-in-using-any-django-social-auth-provider -->
Type: {% if backends.associated %} GitHub {% else %} Local {% endif %}
</pre>
</p>
<p>You can <a href="/accounts/logout">Logout</a></p>
{% else %}
<p>You can <a href="/accounts/login">Login</a> if you like.</p>
{% endif %}
{% if islocal %}
Some of the samples will require a user login to be created.
</p>
<p>
You can play with this code at
<a href="https://samples.dj4e.com" target="_blank">https://samples.dj4e.com</a>.
{% else %}
You
might need an account and password to log in for certain features.  You might try this:
<pre>
Username: dj4e-samples
Password: dj4e_nn_!
</pre>
There is a part of this password that you need to guess.  But if you have done your
homework, it should only take you one guess (instead of 100 guesses).
{% endif %}
</p>

    <p>The source code for these samples for Django 4.2 is is available at
    <a href="https://github.com/csev/dj4e-samples" target="_blank">
        https://github.com/csev/dj4e-samples</a>.  To install this code and its dependencies
    on your system:
    <pre>
    git checkout  https://github.com/csev/dj4e-samples
    cd dj4e-samples
    pip install -r requirements42.txt
    </pre>
    </p>
</body>
</html>
