# To run this, you should have a virtual environment with Django 5.2.
# To activate an existing environment, use
#
#   source ~/.ve52/bin/activate
#   
# If this fails, you need to create and configure a Django 5.2 environment
# as follows:
#
#   cd ~
#   deactivate  # May fail - this is OK
#   python -m venv .ve52
#   source ~/.ve52/bin/activate
#   python --version
#
# The Python version for Django 5.2 should be at least 3.10. It will most likely
# be 3.12 or later. Once you verify your Python version is correct, run:
#
#   pip install --upgrade pip
#   pip install -r requirements52.txt
#   python -m django --version
#
# Your Django version should be 5.2 or later.

Django==5.2

# If you are not running on MySQL you can keep just use SQLite for everything.

# If you want to use MySQL, and are not running on PythonAnywhere
# there are some manual steps before you can install mysqlclient with pip.

# The line below only installs the Django mysql support on Linux systems (i.e. like PythonAnywhere)

mysqlclient==2.2.1; sys_platform == 'linux'

# See this web site for details:
#   https://pypi.org/project/mysqlclient/

asgiref==3.8.1
beautifulsoup4==4.13.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
crispy-bootstrap5==2025.4
cryptography==44.0.2
defusedxml==0.7.1
django-crispy-forms==2.3
django-extensions==4.0
django-filter==25.1
django-taggit==6.1.0
djangorestframework==3.16.0
idna==3.10
importlib_metadata==8.6.1
lxml==5.3.2
Markdown==3.7
oauthlib==3.2.2
pycparser==2.22
PyJWT==2.10.1
python3-openid==3.2.0
pytz==2025.2
requests==2.32.3
requests-oauthlib==2.0.0
social-auth-app-django==5.4.3
social-auth-core==4.5.6
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.13.1
urllib3==2.3.0
zipp==3.21.0
