{% extends "base_bootstrap.html" %}
{% block content %}
<h1>Our Blog</h1>
<p>
{% if post_list %}
<ul>
  {% for post in post_list %}
    <li>
        <a href="{% url 'well:post_detail'  post.id %}">{{ post.title }}</a>
        {% if post.owner_id == user.id %}
        (<a href="{% url 'well:post_update' post.id %}">Edit</a> |
        <a href="{% url 'well:post_delete' post.id %}">Delete</a>)
        {% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no posts in the database.</p>
{% endif %}
</p>
<p>
<a href="{% url 'well:post_create' %}">Add a Post</a> |
{% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'well:all' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'well:all' %}">Login</a>
{% endif %}
</p>
{% endblock %}
