{% extends 'base_bootstrap.html' %}
{% block content %}
<p>Lets get some JSON using async / await.  Turn on your developer console and press the buttons below:</p>
<p>
<button onclick="loadUrl('/broken', 'broken');return false;">Fail Button</button> 
</p>
<p id="broken">New text will not go here</span></p>
<p>
<button onclick="loadUrl('{% url 'chat:jsonfun' %}', 'working');return false;">Retrieve Data</button> 
</p>
<p id="working">New text will go here!!!! <span style="color:green;">(be patient)</span></p>
<script type="text/javascript">

async function loadUrl(url, id) {
    console.log("Loading", url);
    document.getElementById(id).style.color = 'orange';
    document.getElementById(id).innerHTML = 'Loading...';
    const response = await fetch(url);
    if ( ! response.ok ) {
        console.log(response.status); // 400
        console.log(response.statusText); // Not Found
        document.getElementById(id).style.color = 'red';
        alert('Fetch Failed\nURL:'+url+'\nStatus:'+response.status+' '+response.statusText);
        return;
    }
    const data = await response.json();
    console.log('JSON data', data);
    document.getElementById(id).style.color = 'green';
    document.getElementById(id).innerHTML = 'Async: ' + data.first;
}

</script>
{% endblock %}
</body>
