{% extends "base_bootstrap.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->
{% block content %}
<span style="float: right;">
({{ thing.updated_at|naturaltime }})
{% if thing.owner == user %}
<a href="{% url 'favs:thing_update' thing.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'favs:thing_delete' thing.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>{{ thing.title }}</h1>
<p>
{{ thing.text }}
</p>
<p>
</p>
<p>
<a href="{% url 'favs:all' %}">All things</a>
</p>
{% endblock %}
