<h1>Authorization and Login</h1>
<p>
{% block whereami %}In authz/base.html{% endblock %}
</p>
{% if user.is_authenticated %}
<p>Authenticated as
<pre>
Name: {{ user.get_full_name }}
Email: {{ user.email }}
Id: {{ user.id }}
</pre>
</p>
<p>You can <a href="{% url 'logout' %}?next={% url 'authz:open' %}">Logout</a></p>
{% else %}
<p>You are not logged in</p>
<p>You can <a href="{% url 'login' %}?next={% url 'authz:protect' %}">Login</a> if you like.</p>
{% endif %}
<ul>
    <li>
        Go to <a href="{% url 'authz:open' %}">{% url 'authz:open' %}</a>
            (not protected by LoginRequiredMixin}
    </li>
    <li>
        Go to <a href="{% url 'authz:protect' %}">{% url 'authz:protect' %}</a>
            (protected by LoginRequiredMixin}
    </li>
</ul>
