<h1>Current request.path {{ request.path }}</h1>
{% if user.is_authenticated %}
<p>Authenticated as
<pre>
Name: {{ user.get_full_name }}
Email: {{ user.email }}
Id: {{ user.id }}
</pre>
</p>
<p>You can <a href="{% url 'logout' %}?next={% url 'authz:open' %}">Logout</a></p>
{% else %}
<p>You are not logged in</p>
<p>You can <a href="{% url 'login' %}?next={{ request.path }}">Login</a> if you like.</p>
{% endif %}
<ul>
    <li>
        Go to <a href="{% url 'authz:open' %}">{% url 'authz:open' %}</a>
            (no login required)
    </li>
    <li>
        Go to <a href="{% url 'authz:apereo' %}">{% url 'authz:apereo' %}</a>
            (no login required)
    </li>
    <li>
        Go to <a href="{% url 'authz:manual' %}">{% url 'authz:manual' %}</a>
            (protected by user.is_authenticated)
    </li>
    <li>
        Go to <a href="{% url 'authz:protect' %}">{% url 'authz:protect' %}</a>
            (protected by LoginRequiredMixin)
    </li>
    <li>
        Go to <a href="{% url 'authz:python' %}">{% url 'authz:python' %}</a>
            dump request.user data in python
    </li>
</ul>
