<html>
<body>
<p>Welcome to sample getpost code</p>
<ul>
    <li><p><a href="getform">Submit a form with GET</p></li>
    <li><p><a href="postform">Submit a form with POST</p></li>
    <li><p><a href="html4">Classic input tags</p></li>
    <li><p><a href="html5">HTML5 input tags</p></li>
    <li><p><a href="failform">Submit a POST form without CSRF</p></li>
    <li><p><a href="csrfform">Submit a POST form with CSRF</p></li>
    <li><p><a href="guess">Guessing game</p></li>
    <li><p><a href="classy">Classy guessing game</p></li>
    <li><p><a href="bounce">Review redirect</p></li>
    <li><p><a href="awesome">Awesome guessing game</p></li>
</ul>
</body>
</html>

