{% extends 'base_bootstrap.html' %}
{% load app_tags %} <!-- see home/templatetags/app_tags.py and dj4e-samples/settings.py -->
{% block navbar %}
<!-- https://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius:10px !important">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'menu:main' %}">{{ settings.APP_NAME }}</a>
    <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      <!-- Assign output of url function to a variable named
          'xyz' to use in the if statement -->
      {% url 'menu:main' as xyz %}
      <li class="nav-item">
          <a href="{% url 'menu:main' %}" class="nav-link {% if request.get_full_path == xyz %}active{% endif %}">Home</a>
      </li>

      {% url 'menu:page1' as abc1 %}
      <li class="nav-item">
          <a href="{% url 'menu:page1' %}" class="nav-link {% if request.get_full_path == abc1 %}active{% endif %}">Page 1</a>
      </li>

      {% url 'menu:page2' as abc2 %}
      <li class="nav-item">
          <a href="{% url 'menu:page2' %}" class="nav-link {% if request.get_full_path == abc2 %}active{% endif %}">Page 2</a>
      </li>

      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Dropdown
         </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'menu:page3' %}">Page 3</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
       </li>
    </ul>
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="rightnavDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <!-- gravatar depends on app_tags being loaded -->
            <!-- https://brobin.me/blog/2016/07/super-simple-django-gravatar/ -->
            <img style="width: 25px;" src="{{ user|gravatar:60 }}"/><b class="caret"></b>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="rightnavDropdown">
            <li><a class="dropdown-item" href="{% url 'logout' %}?next={% url 'menu:main' %}">Logout</a></li>
        </ul>
       </li>
       {% else %}
       <li class="nav-item"><a class="nav-link" href="{% url 'login' %}?next={% url 'menu:main' %}">Login</a></li>
       {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}
