{% extends "base.html" %}
{% block title %}My DJ4E Projects{% endblock %}
{% block content %}
<h1>My DJ4E Projects</h1>
<p>This is coming from a file in home/templates/main.html</p>
<p>
{% if user.is_authenticated %}
<ul>
    <li>Try <a href="autos">Autos Crud</a></li>
</ul>
<p><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></p>   
{% else %}
<p><a href="{% url 'login'%}?next={{request.path}}">Please log in</a></p>   
{% endif %}
</p>
<h2>Hello World</h2>
<p>A random cat picture (of course).</p>
<p>
<img src="https://loremflickr.com/160/120/cat"
    alt="A random picture of a cat">
</p>
{% endblock %}
