<h1>Using the url tag</h2>
<ul>
    <li>
        <a href="/route/second-view">
        hard-coded</a> (not DRY)
    </li>
    <li>
        {% url 'route:first-view' %}
        (url 'route:first-view')
    </li>
    <li>
        <a href="{% url 'route:second-view' %}">
        url 'route:second-view'</a>
    </li>
    <li>
        {% url 'gview:cats' %}
        (url 'gview:cats') from gview/urls.py
    </li>
    <li>
        {% url 'gview:cat' 42 %}
        (url 'gview:cat' 42) from gview/urls.py
    </li>
    <li>
        {% url 'nsroute:second-view' %}
        (url 'nsroute:second-view') from dj4e-samples/urls.py
    </li>
</ul>
<p>
<a href="https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#url" target="_blank">Documentation</a>
</p>
