<html><body><p>This is the generic main.html sample</p>
<p>
<ul>
    <li>This page is coming from a file in home/templates/main.html</li>
    <!--
    <li><a href="funky">Use a view function</a></li>
    <li>Play <a href="danger?guess=42">a dangerous game</a></li>
    <li>Explore <a href="bounce">a server-side redirect (a 302 response)</a>
        (see also <a href="https://en.wikipedia.org/wiki/Server-side_redirect" target="_blank">
                Documentation</a>)
    </li>
    -->
</ul>
</p>
<p>This sample code is available at
<a href="https://github.com/csev/dj4e-samples" target="_blank">
https://github.com/csev/dj4e-samples</a>
</p>
</body></html>
