{% extends "crispy_base.html" %}
{% block title %}DJ4E Crispy Forms{% endblock %}
{% block header %}
<h1>Django Crispy Forms and Messages</h1>
{% endblock %}
{% block content %}
<p>This sample code is available at
<a href="https://github.com/csev/dj4e-samples" target="_blank">
https://github.com/csev/dj4e-samples</a>
</p>
<p>This page is coming from a file in samples/crispy/templates/crispy_main.html</p>
<p>
<ul>
    <li><a href="validate">Validated Crispy Form</a>
        (<a href="https://django-crispy-forms.readthedocs.io/en/latest/" target="_blank">Documentation</a>)
    </li>
</ul>
</p>

{% endblock %}
