{% extends 'base_bootstrap.html' %}
{% block navbar %}
{% load app_tags %}
<!-- https://www.w3schools.com/booTsTrap/bootstrap_navbar.asp -->
<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ settings.APP_NAME }}</a>
    </div>
    <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->
    <ul class="nav navbar-nav">
      {% url 'ads' as ads %}
      <li {% if request.get_full_path == ads %}class="active"{% endif %}>
          <a href="{% url 'ads' %}">Ads</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li>
        <a href="{% url 'ad_create' %}">Create Ad</a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><img style="width: 25px;" src="{{ user|gravatar:60 }}"/><b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        {% else %}
        <li>
        <a href="{% url 'login' %}?next={% url 'ads' %}">Login</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}
{% block content %}
<h4>I am content in {{ request.path }} base_menu.html</h4>
<p>
Request_path: {{ request.path }}
</p>
{% endblock %}
