{% extends 'base_bootstrap.html' %}
{% load app_tags %} <!-- see home/templatetags/app_tags.py -->
{% block navbar %}
<!-- https://www.w3schools.com/booTsTrap/bootstrap_navbar.asp -->
<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'menu_main' %}">{{ settings.APP_NAME }}</a>
    </div>
    <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->
    <ul class="nav navbar-nav">
      {% url 'menu_main' as menu_main %}
      <li {% if request.get_full_path == menu_main %}class="active"{% endif %}>
          <a href="{% url 'menu_main' %}">Home</a></li>
      {% url 'menu_page1' as menu_page1 %}
      <li {% if request.get_full_path == menu_page1 %}class="active"{% endif %}>
          <a href="{% url 'menu_page1' %}">Page 1</a></li>
      {% url 'menu_page2' as menu_page2 %}
      <li {% if request.get_full_path == menu_page2 %}class="active"{% endif %}>
          <a href="{% url 'menu_page2' %}">Page 2</a></li>
      <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Drop Down<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'menu_page3' %}">Page 3</a></li>
        </ul>
       </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li class="dropdown">
      <!-- gravatar depends on app_tags being loaded -->
      <!-- https://brobin.me/blog/2016/07/super-simple-django-gravatar/ -->
      <a href="#" data-toggle="dropdown" class="dropdown-toggle"><img style="width: 25px;" src="{{ user|gravatar:60 }}"/><b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'logout' %}?next={{ menu_main }}">Logout</a></li>
        </ul>
       </li>
       {% else %}
       <li><a href="{% url 'login' %}?next={{ menu_main }}">Login</a></li>
       {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}
