<html><body><p>This is the DJ4E form sample code</p>
<p>This sample code is available at
<a href="https://github.com/csev/dj4e-samples" target="_blank">
https://github.com/csev/dj4e-samples</a>
</p>
<p>This page is coming from a file in samples/form/templates/main_form.html</p>
<p>
<ul>
    <li><a href="example">Raw output of form.as_table</a></li>
    <li><a href="create">Simple create view</a></li>
    <li><a href="update">Simple update view</a></li>
    <li><a href="validate">Form validation</a>
        (<a href="https://docs.djangoproject.com/en/4.2/ref/forms/validation/" target="_blank">Documentation</a>)
    <li><a href="meow">Cat create view</a></li>
    <li><a href="cat/1/update">Cat update view</a> (The key might be wrong)</li>
    </li>
</ul>
</p>
</body></html>
