<html>
<head>
    <title>DJ4E Samples</title>
</head>
<body>
    <h1>Welcome to the DJ4E Samples</h1>
    <p>
    Here are some samples (Each will open in a new tab):
    <ul>
        <li><a href="getpost" target="_blank">getpost</a> - Exploring HTTP get / post / redirect</li>
        <li><a href="users" target="_blank">users</a> - One table model / SQL  / uses the django shell</li>
        <li><a href="tracks" target="_blank">tracks</a> -  Many to one models / SQL / - uses the django shell </li>
        <li><a href="views" target="_blank">views</a> - Looking at function and class views</li>
        <li><a href="templates" target="_blank">templates</a> - Using templates in views</li>
        <li><a href="generic" target="_blank">generic</a> - Understanding how the generic views work</li>
        <li><a href="session" target="_blank">session</a> - Cookies and sessions</li>
        <li><a href="form" target="_blank">form</a> - Using the Django forms library</li>
        <li><a href="crispy" target="_blank">crispy</a> - Using the Django crispy forms library
            (<a href="https://django-crispy-forms.readthedocs.io/en/latest/" target="_blank">Documentation</a>)
        </li>
    </ul>
    <p>
        You can access the implementation of some of the later projects at
        <a href="https://projects.dj4e.com/" target="_blank">https:/projects.dj4e.com/</a>.
    </p>
    <p>This sample code is available at
    <a href="https://github.com/csev/dj4e-samples" target="_blank">
    https://github.com/csev/dj4e-samples</a>
    </p>
</body>
</html>
