{% if not form.is_valid %}<p>Form is not valid</p>{% endif %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger" style="color:red">
                <strong>Error in {{ field.label }}: {{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger" style="color:red">
            <strong>{{ error }}</strong>
        </div>
    {% endfor %}
{% endif %}
