<html><body><p>This is the DJ4E form sample code</p>
<p>This sample code is available at
<a href="https://github.com/csev/dj4e-samples" target="_blank">
https://github.com/csev/dj4e-samples</a>
</p>
<p>This page is coming from a file in form/home/templates/main.html</p>
<p>
<ul>
    <li><a href="example">Render only view</a></li>
    <li><a href="create">Simple create view</a></li>
    <li><a href="update">Simple update view</a></li>
    <li><a href="validate">Simple validation</a>
        (<a href="https://docs.djangoproject.com/en/2.1/ref/forms/validation/" target="_blank">Documentation</a>,
        <a href="https://stackoverflow.com/questions/14647723/django-forms-if-not-valid-show-form-with-error-message" target="_blank">Article</a>)
    <li><a href="postredirect">PostRedirect</a></li>
    <li><a href="postredirect2">PostRedirect II</a></li>
    </li>
</ul>
</p>
</body></html>
