<html><body><p>This is the generic main.html sample</p>
<p>
This page is coming from a file in gview/templates/gview/main.html
</p>
<ul>
    <li><a href="{% url 'gview:cats' %}">A list of cats</a></li>
    <li><a href="{% url 'gview:dogs' %}">A list of dogs</a></li>
    <li><a href="{% url 'gview:horses' %}">A list of horses</a></li>
    <li><a href="{% url 'gview:cars' %}">A list of cars</a></li>
    <li><a href="{% url 'gview:whatever' %}">A list that uses an unconventional view</a></li>
</ul>
</p>
<p>
Data loading instructions:
<pre>
In linux, Mac terminal, or PythonAnywhere shell run this in the manage.py folder:

python3 manage.py runscript gview_load
</pre>
or run the commands in <b>scripts/gview_load.py</b> by hand in the Django shell.
</p>
</body></html>
